@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Arvo', serif;
}

#highscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Arvo', serif;
}

#board{
    /* background: radial-gradient(#FEFCF3, #FFEECC, #FFDDCC, #FFD1D1); */
    /* background: radial-gradient(#F9F9F9, #EDFFEC, #CAF7E3, #BEE5D3); */
    background: radial-gradient(#FFF6DC, #FFE8CF, #DCEDC1, #98DDCA);
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: url("../img/head.png");
}

.snake{
    background: url("../img/body.png");
}

.food{
    background: url("../img/food.png");
}